body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

#kaasImg {
  width: 200px; /* Aanpassen naar de gewenste grootte van de kaas */
  height: auto;
}
#cheeseCountDisplay {
  position: fixed;
  top: 20px; /* Adjust this value to move it vertically */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  font-size: 24px; /* Adjust the font size as needed */
  font-family: Arial, sans-serif; /* Use a smoother font */
}

.duplicate {
  position: absolute;
  top: 0;
  left: 0;
}
