body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

#kaasImg {
  width: 7.5%;
  height: auto;
  -drag: none;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#cheeseCountDisplay {
  position: fixed;
  top: 20px; /* Adjust this value to move it vertically */
  left: 50%;
  transform: translateX(-70%);
  z-index: 9999;
  font-size: 36px; /* Increase the font size */
  font-family: Arial, sans-serif; /* Use a smoother font */
  text-align: center; /* Center align the text */
  width: 100%; /* Make it span the full width */
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


.duplicate {
  position: absolute;
  top: 0;
  left: 0;
}
