body, html {
  height: 100%;
  margin: 0;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  position: relative;
}

#kaasImg {
  width: 12.0vw;
  user-drag: none; 
  user-select: none;
  pointer-events: none;
}

#cheeseCountDisplay {
  background-color: black;
  color: white;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  font-size: 36px;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

#upgradeButtons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.duplicate {
  position: absolute;
  top: 0;
  left: 0;
}
