<div class="top-bar">
    <h3 class="title">
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h3>
    <div class="nav-menu">
        <div class="dropdown">
            <a href="{{ '/' | relative_url }}">Home</a>
        </div>

        <div class="dropdown">
            <a href="{{ '/projects/' | relative_url }}">Projects</a>
            <div class="dropdown-content">
                <a href="{{ '/projects/mandelbrot/' | relative_url }}">The Mandelbrot Set</a>
                <a href="{{ '/projects/blackhole/' | relative_url }}">Black Hole Renderer</a>
                <a href="{{ '/projects/raymarcher/' | relative_url }}">Raymarcher</a>
                <a href="{{ '/projects/gpublackhole/' | relative_url }}">GPU black hole</a>
                <a href="{{ '/projects/drednot/' | relative_url }}">Drednot stuff</a>
                <a href="{{ '/projects/Mesopotamia/' | relative_url }}"><b>Mesopotamia</b></a>
            </div>
        </div>

        <div class="dropdown">
            <a href="{{ '/info/' | relative_url }}">Info</a>
        </div>

        <div class="dropdown">
            <a href="{{ 'https://github.com/iogamesmaker/' }}">GitHub</a>
        </div>
    </div>
</div>
